* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
  font-family: "Sora", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  --height: 60px;
  display: inline-block;
  min-width: 205px;
  color: #fff;
  padding: 0 20px;
  border: 1px solid #2e80ce;
  background: #2e80ce;
  height: var(--height);
  line-height: var(--height);
  border-radius: 999px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Header */
.header {
  min-height: 100vh;
  background: var(--header-bg);
  padding-top: 30px;
}

.header-top {
}

.logo {
  display: inline-flex;
  gap: 0.6em;
  font-size: 1rem;
  position: relative;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  width: 1.6em;
  height: 1.6em;
  background: #fff;
  position: absolute;
  top: 1.1em;
  left: 1.1em;
}

.logo__text {
  color: #fff;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  font-size: 1.8em;
  font-weight: 400;
  display: block;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
  gap: 42px;
}

.header-action__login,
.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  left: -8px;
  top: -2px;
}

.header-action__login {
  padding: 0 24px;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}
/* Hero */
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
  margin-bottom: 22px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-bottom: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 38px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}
