* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Sora", sans-serif;
}

body {
  font-size: 1.6rem;
}

/* Common */
.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
